/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /*Chieu cao cua toan man hinh*/
    height: 100vh;
    background: linear-gradient(to right, #4daf54, #3d8880);
    /*can giua man hinh*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-box{
    background: #333;
    width: 400px;
    height: 40px;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
    transition: all 0.5s;
}

.search-box input{
    border: none;
    outline: none;
    width: 100%;
    border-radius: 15px;
    height: 40px;
    color: black;
    padding-left:10px;
    padding-right: 60px;
}

.search-box button{
    position: absolute;
    width: 50px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 15px;
    top: 0;
    right: 0;
}

.open{
    width: 50px;
}